{% load i18n %}
<p>
  {% blocktrans trimmed with registry=registry %}
    Hello {{user_full_name}},<br />
    You're receiving this email because your recent request to change your email address in the {{ registry }} site has been completed.<br />
    This is a courtesy message to let you know that this email address is no longer active.
  {% endblocktrans %}
</p>

<p>
  {% trans 'You can request to change your email address at any time by using the "Change Email Address" available from your menu.' %}
</p>