{% load i18n %}
<p>
  {% blocktrans trimmed with user_full_name=user_full_name activation_link=activation_link %}
    Hello {{user_full_name}},<br />
    You're receiving this email because you submitted a request to change your email address.<br />
    To complete this request, please visit the following link: <a href="{{activation_link}}">{{activation_link}}</a>
  {% endblocktrans %}
</p>

<p>
  {% trans 'This link will expire if not actioned within' %} {{expiration_hours}} {% trans 'hours' %}.
</p>