{% extends "rdrf_cdes/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

{% if validlink %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="alert alert-info">
                {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
            </div>
            <form action="" method="post" class="form" id="new-password-form">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="row">
                    <label for="id_new_password1">{% trans "New Password:" %}</label><i id="validation-info" class="fa fa-info-circle"></i>
                    {{ form.new_password1.errors }}
                    <input id="id_new_password1" name="new_password1" type="password" placeholder="New Password" class="form-control" value="{{ form.new_password1.value }}" />
                    <div id="pwd-help" style="display:none;">{{ form.new_password1.help_text|safe }}</div>
                </div>
                <div class="row">
                    <label for="id_new_password2">{% trans "New Password (again):" %}</label>
                    {{ form.new_password2.errors }}
                    <input id="id_new_password2" name="new_password2" type="password" placeholder="Confirm password" class="form-control" value="{{ form.new_password2.value }}" />
                </div>

                <div class="row">
                    <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
{% else %}
    <div class="alert alert-danger">
      {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new link." %}
    </div>
{% endif %}
{% include 'registration/pwd_validation_info.html' %}
{% endblock %}
