{% extends "rdrf_cdes/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="alert alert-info">
            {% trans "Please enter your current password, and then enter your new password twice so we can verify you typed it in correctly." %}
        </div>
        <form action="" method="post" class="form" id="new-password-form">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="mb-3 {% if form.old_password.is_hidden %}d-none{% endif %}">
                <label for="id_old_password" class="form-label">{% trans "Current password:" %}</label>
                {{ form.old_password.errors }}
                <input id="id_old_password" name="old_password" type="password" class="form-control" value="{{ form.old_password.value }}" />
            </div>
            <div class="mb-3">
                <label for="id_new_password1" class="form-label">{% trans "New password:" %}</label><i id="validation-info" class="fa fa-info-circle"></i>
                {{ form.new_password1.errors }}
                <input id="id_new_password1" name="new_password1" type="password" class="form-control" value="{{ form.new_password1.value }}" />
                <div id="pwd-help" style="display:none;">{{ form.new_password1.help_text|safe }}</div>
            </div>
            <div class="mb-3">
                <label for="id_new_password2" class="form-label">{% trans "New password confirmation:" %}</label>
                {{ form.new_password2.errors }}
                <input id="id_new_password2" name="new_password2" type="password" class="form-control" value="{{ form.new_password2.value }}" />
            </div>
            <input type="submit" value="{% trans 'Change password' %}" class="btn btn-success" />
      </form>
    </div>
</div>
{% include 'registration/pwd_validation_info.html' %}
{% endblock %}
