{% load static %}
{% load i18n %}
{% load project_title %}

<html>

<head>
    <title>{% project_title %} | Registration</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

    <style>
        body {
            background-color: #edeff1;
        }
        .error {
            color: red;
            font-style: italic;
            font-size: small;
        }
        .top-separator {
            border-top: dotted 1px #bbb;
            padding-top: 20px;
        }
        :required  {
            background: url({% static 'images/red-asterisk-16.png' %}) no-repeat;
            background-size: 8px;
            background-position:right top;
            background-clip: padding-box;
            background-origin: content-box;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function() {
            var registry_code = "{{registry_code}}";
            var is_mobile = {{ is_mobile|yesno:"true,false" }};

            var dateOptions = {
                'dateFormat': 'yy-mm-dd',
                'showAnim': 'blind',
                'changeMonth': true,
                'changeYear': true,
                'minDate': '-100Y',
                'maxDate': '0',
                'yearRange': '-100:+0',
                'defaultDate': '-30Y'
            };

            $("#registration-submit")
                .prop("disabled", true)
                .click(function() {
                    var registration_form = $("#registration-form");
                    onBeforeSubmit();
                    if (registration_form.valid()) {
                        registration_form.submit();
                    } else {
                        var msg = $("#form-invalid");
                        msg.slideDown("slow", function() {
                            setTimeout(function() {
                                msg.slideUp("slow")
                                }, 2000);
                        });

                        onValidationError();
                    }
                });

            $('[data-toggle="tooltip"]').tooltip();

            if (!is_mobile) {
                $("#patient-form").accordion({
                    heightStyle: "content",
                    collapsible: true
                });
                if ($("#guardian-form").length > 0) {
                    $("#guardian-form").accordion({
                        heightStyle: "content",
                        collapsible: true
                    });
                }
            }

            $('input:radio[required]').parent('fieldset').before('<span style="color:red">*</span>')

            {% block extra_js_init %}
            {% endblock %}

        }); // $(document).ready ...

        function reCaptchaCallback(response) {
            $("#registration-submit").prop("disabled", false);
        }

        function reCaptchaExpiredCallback() {
            $("#registration-submit").prop("disabled", true);
        }

        // Overwrite these in specific template if needed.

        // Custom code to be called if the validation fails (on the client-side)
        function onValidationError() {}

        function expandAccordion(formSelector) {
            if ($(formSelector).length === 0) {
                return;
            }
            var accordion = $(formSelector).accordion("instance");
            if (typeof(accordion) === "undefined") {
                return;
            }
            accordion.option("active", 0);
        }

        function onBeforeSubmit() {
            $("#id_email").val($("#id_username").val());
            expandAccordion("#patient-form");
            expandAccordion("#guardian-form");
        }
    </script>

    {% block extrahead %}
    {% endblock %}
</head>

<body>
    <div class="container">
        <br>

        {% if form.non_field_errors or form.errors %}
            <div class="alert alert-danger">
                {% if form.non_field_errors %}
                    {% for err in form.non_field_errors %}
                        <p class="form-error">{{ err }}</p>
                    {% endfor %}
                {% endif %}
                {% if form.errors %}
                    {% for field in form %}
                        {% if field.errors %}
                            <p><strong>{{field.label}}</strong>:
                                <ul>
                                    {% for err in field.errors %}
                                        <li>{{ err|striptags }}</li>
                                    {% endfor %}
                                </ul>
                            </p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}

   </div>

</body>

</html>
