{% load i18n %}

<h2>{% trans "Patient Details" %}</h2>
<div id="patient_form" class="row g-3">
    <div class="col-12">
        {{form.first_name}}
    </div>
    <div class="col-12">
        {{form.surname}}
    </div>
    <div class="col-12">
        {{form.date_of_birth}}
        <div class="text-muted">YYYY-MM-DD</div>
    </div>
    <div class="col-12">
        <fieldset class="required" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-placement="left" title="{% trans 'Indeterminate also refers to Intersex/Unspecified' %}">
            {% for choice in form.gender %}
                <label>{{ choice.choice_label }}</label>
                {{ choice.tag }}
                <br/>
            {% endfor %}
        </fieldset>
    </div>
</div>