{% extends "registration/registration_base.html" %}

{% load i18n %}
{% load countries %}
{% load project_title %}
{% load recaptcha_site_key %}

{% block extra_js_init %}

    $("#id_date_of_birth").datepicker(dateOptions);
    setStatesOnLoad("#id_country");
    setUpStateOnCountryChange("#id_country", "#id_state");

{% endblock %}

{% block content %}

    <h3>
        <strong>{% project_title %} - {% trans "User Registration" %}</strong>
    </h3>

    <div class="alert alert-danger" style="display: none" id="username-error">
        <p>
            <b>{% trans "Username error:  This username already exists, please choose a different username." %}</b>
        </p>
        <p>
            {% trans "If you have already registered and would like to update your data or add another patient, you don't have to register again. Just go to the login page and login with the e-mail address and password you previously registered with." %}
        </p>
        <p>
            {% trans "If you have forgotten your password, please  click on 'forgotten your password?'" %}
        </p>
    </div>

    <form id="registration-form" method="POST">
        {% csrf_token %}
        <input type="hidden" name="registry_code" value="{{registry_code}}">
        <input id="id_email" name="email" type="hidden" />
        <div class="row">
            <div class="col-md-6">
                {% include "registration/registration_login_details.html" %}
            </div>
            <div class="col-md-6" >
                {% include "registration/registration_patient_details.html" %}
                {% include "registration/registration_patient_address.html" %}
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="g-recaptcha" data-sitekey="{% recaptcha_site_key %}"  data-callback='reCaptchaCallback'></div>
                </div>
                <div class="col-md-6">
                    <button type="button" id="registration-submit" class="btn btn-success pull-right">Submit</button>
                </div>
            </div>
    </form>

{% endblock %}