{% load i18n static %}
{#{% convert_language_code 'fr-CA' as browser_language %}#}

<script type="text/javascript" src="{% static 'js/show_password.js' %}"></script>
<script>
    function getPureLanguageCode(language) {
        return language.split('-')[0];
    }

    function constructPreferredLanguages() {
        const browser_language = navigator.languages[0];
        const not_in_languages_array = !{{ all_language_codes|safe }}.includes(browser_language);

        {{ preferred_languages|safe }}.forEach((language) => {
            $("#id_preferred_languages").append(`
                <option value="${language.code}"
                    ${(language.code === browser_language) || (not_in_languages_array && getPureLanguageCode(language.code) == getPureLanguageCode(browser_language)) ? 'selected' : ''}
                >${language.name}</option>
            `);
        });
    }

    $(document).ready(function() {
        initToggleShowPassword($("input[id^='id_password']"), $("#id_toggle-password"));

        const passwordHint = document.getElementById("passwordHint");
        const passwordHintToggle = document.getElementById("passwordHintToggle");
        passwordHint.addEventListener('show.bs.collapse', function() {
            $(passwordHintToggle).text('{% trans "Hide password requirements" %}');
        });
        passwordHint.addEventListener('hidden.bs.collapse', function() {
            $(passwordHintToggle).text('{% trans "Show password requirements" %}');
        });
        constructPreferredLanguages();
    });
</script>

<fieldset id="login_details" class="border bg-light p-3">
    <legend>{% trans "Login Details" %}</legend>
    <div class="row px-2 mb-0">
        <div class="alert alert-secondary">
            <strong>{% trans "Note:" %}</strong>
            {% trans "With your e-mail address and the password you choose here, you can login at any time to view or edit your data. In order to protect your personal data against unauthorised access, please choose a password which is hard to guess and write it down in a safe place. Note that the password is case-sensitive." %}
        </div>
    </div>
    <div class="row g-3">
        <div class="col-12">
            <label for="id_username">{{form.username.label}}</label>
            {{form.username}}
        </div>
        <div class="col-12">
            <label for="id_password1">{{form.password1.label}}</label>
            <div id="pwd-help" style="display:none;">{{form.password1.help_text|safe }}</div>
            {{form.password1}}
        </div>
        <div class="col-12">
            <label for="id_password2">{{form.password2.label}}</label>
            {{form.password2}}
        </div>
        <div class="mt-0">
            <a id="passwordHintToggle" class="small" role="button" data-bs-toggle="collapse" href="#passwordHint" aria-expanded="false" aria-controls="passwordHint">
                {% trans "Show password requirements" %}
            </a>
            <div id="passwordHint" class="collapse">
                {{form.password1.help_text}}
            </div>
        </div>

        <div class="col-12">
            <div class="form-check">
                <input type="checkbox" id="id_toggle-password" class="form-check-input">
                <label class="form-check-label" for="id_toggle-password">{% trans "Show Password" %}</label>
            </div>
        </div>

        {% if preferred_languages %}
            <div class="col-12">
              <label for="id_preferred_languages">{{form.preferred_languages.label}}</label>
              <select name="preferred_languages" class="form-select" id="id_preferred_languages" aria-label="Preferred languages"></select>
            </div>
        {% endif %}
    </div>
</fieldset>