{% load static %}
{% load i18n %}
{% load project_title %}

<html {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>

<head>
    <title>{% project_title %} | Registration</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'vendor/bootstrap-5.1.0/css/' %}{% if LANGUAGE_BIDI %}bootstrap.rtl.min.css{% else %}bootstrap.min.css{% endif %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-overrides.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-1.13.2/themes/smoothness/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/rdrf.css' %}" media="all">

    <script src="{% static 'js/vendor/jquery-3.5.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/jquery-ui-1.13.2.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'vendor/bootstrap-5.1.0/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-validation-1.19.5.min.js' %}"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

    <style>
        body {
            background-color: #edeff1;
        }
        .error {
            color: red;
            font-style: italic;
            font-size: small;
        }
        .top-separator {
            border-top: dotted 1px #bbb;
            padding-top: 20px;
        }
        fieldset.radio-group legend {
            display: inline;
            float: none;
            width: auto;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function() {
            var registry_code = "{{registry_code}}";

            var dateOptions = {
                'dateFormat': 'yy-mm-dd',
                'showAnim': 'blind',
                'changeMonth': true,
                'changeYear': true,
                'minDate': '-100Y',
                'maxDate': '0',
                'yearRange': '-100:+0',
                'defaultDate': '-30Y'
            };

            $("#registration-submit")
                .prop("disabled", true)
                .click(function() {
                    var registration_form = $("#registration-form");
                    onBeforeSubmit();
                    if (registration_form.valid()) {
                        registration_form.submit();
                    } else {
                        var msg = $("#form-invalid");
                        msg.slideDown("slow", function() {
                            setTimeout(function() {
                                msg.slideUp("slow")
                                }, 2000);
                        });

                        onValidationError();
                    }
                });

            $('[data-bs-toggle="tooltip"]').tooltip();

            // Mark up all required inputs automatically
            $(":input[required]").each(function(i, input) {
                let $target;
                if ($(input).is(':radio')) {
                  $target = $(input).closest('fieldset.radio-group').find('> legend');
                } else {
                  $target = $('label[for="' + $(input).attr('id') + '"]');
                }

                if ($target && !($target.has('.required').length)) {
                    $target.append('<span class=" required text-secondary ps-1">*</span>');
                }
            });

            {% if embedded_view %}
              // Scroll to top on page load
              // This behaviour isn't automatic with iframes and is especially useful when there are server-side errors after form submission
              $("#registration_base_container")[0].scrollIntoView({behavior: 'smooth'});
            {% endif %}

            {% block extra_js_init %}
            {% endblock %}

        }); // $(document).ready ...

        function reCaptchaCallback(response) {
            $("#registration-submit").prop("disabled", false);
        }

        function reCaptchaExpiredCallback() {
            $("#registration-submit").prop("disabled", true);
        }

        // Overwrite these in specific template if needed.

        // Custom code to be called if the validation fails (on the client-side)
        function onValidationError() {}

        function expandAccordion(formSelector) {
            if ($(formSelector).length === 0) {
                return;
            }
            var accordion = $(formSelector).accordion("instance");
            if (typeof(accordion) === "undefined") {
                return;
            }
            accordion.option("active", 0);
        }

        function onBeforeSubmit() {
            $("#id_email").val($("#id_username").val());
        }
    </script>

    {% block extrahead %}
    {% endblock %}
</head>

<body>
    {% if not embedded_view %}
        {% include "rdrf_cdes/navbar.html" %}
    {% endif %}

    <div
        id="registration_base_container"
        {% if not embedded_view %}
         class="container"
         style="padding-top: 75px"
        {% endif %}
    >

        {% block form_instructions %}
        {% endblock %}

        {%  include "rdrf_cdes/form_list_errors.html" %}

        <form id="registration-form" method="POST">
            {% block content %}
                <p><em>Required fields are marked with an asterisk (*).</em></p>
            {% endblock %}
        </form>

    </div>

</body>

</html>
