{% load i18n %}

<div>
<div id="signature" style="border: 1px solid black">
</div>
<input type="hidden" name="{{name}}" value="{{html_value}}"/>
<div class="float-end">
    <a class="btn btn-outline-secondary" onclick="reset_signature();">
        <span class="fa fa-times"></span> {% trans "Clear signature" %}
    </a>
</div>
</div>
<script>
    var $sigdiv = $("#signature").jSignature({'UndoButton':true});
    var disabled = false;
    $sigdiv.change(function(e) {
        var isModified =  $sigdiv.jSignature('isModified');
        if (isModified) {
            var has_signature = $sigdiv.jSignature('getSettings').data.length > 0;
            var value = has_signature ? $sigdiv.jSignature('getData', 'native') : [];
            var obj = {
                width:$("#signature").width(),
                data:value
            }
            $("input[name='{{name}}']").val(btoa(JSON.stringify(obj)));
        }
        if (disabled) {
            set_disabled_background();
            $sigdiv.find('input[type="button"][value="Undo last stroke"]').hide();
        }

    });

    function set_disabled_background() {
        $("#signature div").css('background-color','lightgray');
        $(".jSignature").css('background-color','lightgray');
        $("#signature").css('background-color', 'lightgray');
    }

    function disable_signature() {
        disabled = true;
        $sigdiv.jSignature('disable', true);
        set_disabled_background();
    }

    function reset_signature() {
        $sigdiv.jSignature('reset');
        $("input[name='{{name}}']").val("{{encoded_default_value}}");
        return false;
    }

    // function taken from: https://github.com/brinley/jSignature/blob/master/src/jSignature.js#L658
    function scale_data(data, scale){
        var newData = [];
        var o, i, l, j, m, stroke;
        for ( i = 0, l = data.length; i < l; i++) {
            stroke = data[i];

            o = {'x':[],'y':[]};

            for ( j = 0, m = stroke.x.length; j < m; j++) {
                o.x.push(stroke.x[j] * scale);
                o.y.push(stroke.y[j] * scale);
            }

            newData.push(o);
        }
        return newData;
    }

    function set_value(input) {
        var decoded = atob(input);
        var obj = JSON.parse(decoded);
        var current_width = $("#signature").width();
        var scale = current_width * 1.0 / obj.width;
        var data = scale_data(obj.data, scale);
        $sigdiv.jSignature('setData', data, 'native');
    }

    {{set_value}}
    {{hide_undo_btn}}
</script>
