version: '3.7'

volumes:
  prod_db_data:
  prod_clinicaldb_data:
  prod_reportingdb_data:

services:
  db:
    image: postgres:9.4
    environment:
      - POSTGRES_USER=webapp
      - POSTGRES_PASSWORD=webapp
    volumes:
      - prod_db_data:/var/lib/postgreql/data

  dbclinical:
    image: postgres:9.4
    environment:
      - POSTGRES_USER=webapp
      - POSTGRES_PASSWORD=webapp
    volumes:
      - prod_clinicaldb_data:/var/lib/postgreql/data

  dbreporting:
    image: postgres:9.4
    environment:
      - POSTGRES_USER=webapp
      - POSTGRES_PASSWORD=webapp
    volumes:
      - prod_reportingdb_data:/var/lib/postgreql/data

  cache:
    image: memcached:1.4

  uwsgi:
    # image: eresearchqut/trrf:${TRRF_VERSION}
    image: ${UWSGI_IMAGE}
    command: uwsgi
    env_file:
      - .env
    environment:
      - APP_VERSION=${TRRF_VERSION}
      - PRODUCTION=1
      - DEBUG=0
      - WAIT_FOR_DB=1
      - WAIT_FOR_CLINICAL_DB=1
      - WAIT_FOR_REPORTING_DB=1
      - WAIT_FOR_CACHE=1
      - DJANGO_FIXTURES=test
      - ALLOWED_HOSTS=*
      - CACHESERVER=cache
      - DBSERVER=db
      - CLINICAL_DBSERVER=dbclinical
      - REPORTING_DBSERVER=dbreporting
      # TODO think about more about these env variables. Probably use .env files
      # currently just making the PROD stack working on my local machine
      - DBNAME=webapp
      - DBUSER=webapp
      - DBPASS=webapp

      - SECURE_SSL_REDIRECT=0  # Disabling SSL redirect for ELB SSL termination
      - SESSION_COOKIE_SECURE=0
      - CSRF_COOKIE_SECURE=0
    volumes:
      - ./data/prod/:/data

  nginx:
    build:
      context: ./docker/production/nginx/
    # TODO build this image on the build server, push it to ECR and only refer to it here
    image: trrf_production_nginx
    ports:
      - 443:443
