{% load alert_language_not_support %}

{% with language_not_support=request.LANGUAGE_CODE|alert_language_not_support %}
    {% if language_not_support %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">Language {{ request.LANGUAGE_CODE }} is not currently supported.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
     <script type="text/javascript">
        const language_not_support = '{{ language_not_support }}'
        const existing_not_support_language = localStorage.getItem('not_support_language');
        if (language_not_support === 'True' && (existing_not_support_language === null || existing_not_support_language !== language_not_support)) {
            localStorage.setItem('not_support_language', '{{ request.LANGUAGE_CODE }}')
        } else if (language_not_support === 'False' && existing_not_support_language) {
            localStorage.removeItem('not_support_language');
        }
    </script>
{% endwith %}
