{% load i18n %}
{% load get_language_settings_codes %}
{% get_language_settings_codes as LANGUAGES %}

<script type="text/javascript">
    $(document).ready(function(){
        const browser_language = navigator.language;
        const supported_languages = {{ LANGUAGES|safe }};
        const is_browser_language_in_settings = [browser_language, browser_language.split('-')[0]].some((language) => supported_languages.includes(language));
        const existing_not_support_language = localStorage.getItem('not_support_language');
        const dismiss_alert = `dismiss_language_${browser_language}_not_support_alert`;
        const get_dismiss_alert_value = localStorage.getItem(dismiss_alert);

        if (!is_browser_language_in_settings && get_dismiss_alert_value === null) {
            const language_name_converter = new Intl.DisplayNames(['en'], { type: 'language' });
            $('#id_language_not_support_alert').text(gettext(`Language "${language_name_converter.of(browser_language)}" is not currently supported.`))
                .append(`<button id="id_dismiss_alert" type="button" class="btn-close" data-bs-dismiss="alert" aria-label={% translate "Close" %}></button>`)
                .removeClass('d-none');
            if (existing_not_support_language === null || existing_not_support_language !== browser_language) {
                localStorage.setItem('not_support_language', browser_language);
            }
        } else if (is_browser_language_in_settings && existing_not_support_language) {
            localStorage.removeItem('not_support_language');
        }

        $('#id_dismiss_alert').click(() => {
            if (get_dismiss_alert_value === null) {
                localStorage.setItem(dismiss_alert, true);
            }
        });
    });
</script>

<div class="alert alert-warning alert-dismissible fade show d-none" role="alert" id="id_language_not_support_alert"></div>
