{% extends "admin/base_site.html" %}
{% load static %}
{% load i18n static %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/jquery-1.12.1/themes/smoothness/jquery-ui.min.css' %}">
    <script src="{% static 'js/vendor/jquery-3.5.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/underscore-1.13.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/calculated_field_plugin.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lookup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/jquery-ui-1.12.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
  <script>
  $(function() {
    $( ".datepicker" ).datepicker({
      showOn: "button",
      buttonImage: '{% static 'images/calendar.gif' %}',
      buttonImageOnly: true,
      showButtonPanel: true,
      changeMonth: true,
      changeYear: true,
      dateFormat: 'dd-mm-yy',
      yearRange: '-100:+0',
    });
  });
    // The following "corrects" the behaviour of the "today" button in the jquery datepicker
    // clicking the today button
    $.datepicker._gotoToday = function(id) {
    var target = $(id);
    var inst = this._getInst(target[0]);
    if (this._get(inst, 'gotoCurrent') && inst.currentDay) {
            inst.selectedDay = inst.currentDay;
            inst.drawMonth = inst.selectedMonth = inst.currentMonth;
            inst.drawYear = inst.selectedYear = inst.currentYear;
    }
    else {
            var date = new Date();
            inst.selectedDay = date.getDate();
            inst.drawMonth = inst.selectedMonth = date.getMonth();
            inst.drawYear = inst.selectedYear = date.getFullYear();
            // the below two lines are new
            this._setDateDatepicker(target, date);
            this._selectDate(id, this._getDateDatepicker(target));
    }
    this._notifyChange(inst);
    this._adjustDate(target);
}
  </script>
{% endblock %}

{% block content %}
    <div class="alert alert-error">
    <h3>Error: {% trans application_error %}</h3>
    </div>
{% endblock %}
