{% load static from staticfiles %}
{% load i18n %}

{% if AUTO_LOGOUT_ENABLED %}
  <script type="text/javascript" src="{% static 'js/jquery.userTimeout.js' %}"></script>

  <script type="text/javascript">
    $(document).userTimeout({
      logouturl: '{% url "logout" %}?next={% url "login_router" %}',
      session: {{ AUTO_LOGOUT_WARN_AFTER_MS }},
      force: {{ AUTO_LOGOUT_WARNED_USER_AFTER_MS }},
      restart_on_yes: true,

      // Set properties of the popup modal dialog
      modalTitle: '{% trans "Session Inactive Timeout" %}',
      modalBody: '{% trans "You are being timed out due to inactivity. Please choose to stay signed in or to logout. Otherwise, you will loggedout automatically." %}',
      modalLogOffBtn: '{% trans "Logout" %}',
      modalStayLoggedBtn: '{% trans "Stay Logged In" %}'
    });
  </script>

{% endif %}

