{% load static %}
{% load i18n %}
{% load project_title %}
{% load get_most_relevant_registry %}
{% load get_translate_value %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% with registry_code|get_most_relevant_registry:request.user as relevant_registry %}
<html {% if LANGUAGE_BIDI %}dir="rtl"{% endif %} xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" translate="{{ relevant_registry|get_translate_value }}" >
{% endwith %}
    <head>
        <title>{% project_title %}</title>

        <link rel="stylesheet" href="{% static 'vendor/bootstrap-5.1.0/css/' %}{% if LANGUAGE_BIDI %}bootstrap.rtl.min.css{% else %}bootstrap.min.css{% endif %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-overrides.css' %}">
        <link rel="stylesheet" href="{% static 'css/vendor/font-awesome.min.css' %}">

        <script src="{% static 'js/vendor/jquery-3.5.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/bootstrap-5.1.0/js/bootstrap.bundle.min.js' %}"></script>

        {% block extrahead %}
        {% endblock %}

    </head>
    <body>


<div id="wrap">

    <div class="container">
        {% include "rdrf_cdes/alert_language_is_not_supported.html" %}
        {% block content%}
        {% endblock%}
    </div>

</div>

</body>
</html>
