{% load static from staticfiles %}
{% load admin_urls %}
{% load get_form %}
{% load get_forms %}
{% load get_elements %}
{% load i18n %}
{% load lookup %}
{% load project_logo %}
{% load project_logo_link %}
{% load project_stylesheet %}
{% load project_title %}
{% load project_title_link %}
{% load translate %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>{% project_title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-slider-10.6.2/css/bootstrap-slider.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/rdrf.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'css/simple-sidebar.css' %}" media="all">

    {% project_stylesheet as PSS %}
    {% if PSS %}
    {% static "" as baseUrl %}
    <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/{{ PSS }}" media="all">
    {% endif %}

    <script type="text/javascript" src="{% static 'js/vendor/jquery-1.11.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/jquery-ui-1.11.4.min.js' %}"></script>

    {% if request.LANGUAGE_CODE.lower != "en" %}
    {% static "" as baseUrl %}
    <script src="{{ baseUrl }}/js/vendor/i18n/datepicker-{{ request.LANGUAGE_CODE }}.js"></script>
    {% endif %}

    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-slider-10.6.2/js/bootstrap-slider.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/calculated_field_plugin.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/toggle_disabled.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/underscore-1.5.2.min.js' %}"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript" src="{% static 'js/rpc_module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/rdrf.js' %}"></script>
    <script type="text/javascript">var django = { $: $.noConflict() }; if (!$) $ = django.$; </script>

    {% block extrastyle %}
    {% endblock %}

    {% block extrahead %}
    {% endblock %}

    <script>
        $(document).ready(function () {
            adjustContentTopPadding();

            $("#submit-btn").click(function () {
                $("#main-form").submit();
            });

            hide_empty_menu();
        });
    </script>

    {% include "rdrf_cdes/auto_logout.html" %}
</head>

<body>
    <div id="wrap">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a class="navbar-brand project_title" href="{% project_title_link %}">
                            {% project_logo as PL %}
                            {% project_title as PT %}
                            {% if PL %}
                                <img src="{% static PL %}" class="project_logo">
                                &nbsp;
                            {% endif %}
                            {% if PT %}
                                <span>
                                    {% project_title %}
                                </span>
                            {% endif %}
                        </a>
                        {% block navbar_links %}
                            {% include "rdrf_cdes/navbar_links.html" %}
                        {% endblock %}
                    </div><!-- /.container-fluid -->
                </div>
            </div>
        </nav>

        {% if location %}
        <div class="banner">
            <!-- one col banner -->
            <div class="container">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    {% if patient_link %}
                        {{ patient_link | safe}}
                    {% elif patient %}
                        <i class="text-muted">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ patient }}
                        </i>
                    {% endif %}
                    {% block formbtns %}
                    {% endblock %}
                    {{ patient_info }}
                </div>
            </div>
        </div>
        {% endif %}

        <div id="content" class="container" style="padding-top: 150px;">
            {% if messages %}
            <div class="header">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        {% for message in messages %}
                        <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="row">
                <div class="col-md-12">
                    {% block content %}
                    {% include 'rdrf_cdes/archive_modal.html' %}

                    {% if header %}
                    <div class="panel panel-info">
                        <div class="panel-body">
                            {{ header|safe }}
                        </div>
                    </div>
                    {% endif %}

                    {% endblock%}
                </div>
            </div>
        </div>
    </div>

    {% block footer %}
    {% include 'rdrf_cdes/footer.html' %}
    {% endblock %}

</body>

</html>
