{% load static %}
{% load admin_urls %}
{% load get_form %}
{% load get_forms %}
{% load get_elements %}
{% load i18n %}
{% load lookup %}
{% load project_logo %}
{% load project_logo_link %}
{% load project_stylesheet %}
{% load project_title %}
{% load project_title_link %}
{% load translate %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html {% if LANGUAGE_BIDI %}dir="rtl"{% endif %} xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>{% project_title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/vendor/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-5.1.0/css/' %}{% if LANGUAGE_BIDI %}bootstrap.rtl.min.css{% else %}bootstrap.min.css{% endif %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-overrides.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-slider-11.0.2/css/bootstrap-slider.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/rdrf.css' %}" media="all">

    {% include "localisation/in_context.html" %}

    {% project_stylesheet as PSS %}
    {% if PSS %}
    {% static "" as baseUrl %}
    <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/{{ PSS }}" media="all">
    {% endif %}

    <script src="{% static 'js/vendor/jquery-3.5.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/jquery-ui-1.13.2.min.js' %}"></script>

    {% if request.LANGUAGE_CODE.lower != "en" %}
    {% static "" as baseUrl %}
    <script src="{{ baseUrl }}/js/vendor/i18n/datepicker-{{ request.LANGUAGE_CODE }}.js"></script>
    {% endif %}

    <script type="text/javascript" src="{% static 'vendor/bootstrap-5.1.0/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap-slider-11.0.2/js/bootstrap-slider.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/calculated_field_plugin.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/underscore-1.13.1.min.js' %}"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript" src="{% static 'js/rpc_module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/rdrf.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/collapsing_panels.js' %}"></script>
    <script type="text/javascript">var django = { $: $.noConflict() }; if (!$) $ = django.$; </script>

    {% block extrastyle %}
    {% endblock %}

    {% block extrahead %}
    {% endblock %}

    <script>
        $(document).ready(function () {
            adjustContentTopPadding();

            $("#submit-btn").click(function () {
                $("#main-form").submit();
            });

            hide_empty_menu();
        });
    </script>

    {% include "rdrf_cdes/auto_logout.html" %}
</head>

<body>
    <div id="wrap">
        {% include "rdrf_cdes/navbar.html" %}

        {% if location %}
        <div class="banner">
            <div class="container-fluid mt-3 mb-2">
              <div class="row">
                <div class="offset-xxl-1 col-xxl-5 col-md-6">
                  {% include "rdrf_cdes/banner/_patient.html" %}
                </div>
                <div class="col-xxl-5 col-md-6 d-print-none mt-md-0 mt-3 d-flex justify-content-md-end">
                    {% block formbtns %}
                    {% endblock %}
                </div>
              </div>
            </div>
        </div>
        {% endif %}

        <div id="content" class="container-fluid" style="padding-top: 150px;">
            {% if messages %}
            <div class="header">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        {% for message in messages %}
                        <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="row">
                <div class="offset-xxl-1 col-md-10">
                    {% block content %}

                    {% if header %}
                    <div class="card card-info">
                        <div class="card-body">
                            {{ header|safe }}
                        </div>
                    </div>
                    {% endif %}

                    {% endblock%}
                </div>
            </div>
        </div>
        {% block footer %}
        {% include 'rdrf_cdes/footer.html' %}
        {% endblock %}
    </div>
</body>

</html>
