{% load static from staticfiles %}
{% load admin_urls %}
{% load get_form %}
{% load get_forms %}
{% load get_elements %}
{% load i18n %}
{% load lookup %}
{% load project_logo %}
{% load project_logo_link %}
{% load project_stylesheet %}
{% load project_title %}
{% load project_title_link %}
{% load translate %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>{% project_title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'vendor/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-slider-10.6.2/css/bootstrap-slider.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/rdrf.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/timepicki-2.0.1/css/timepicki.css' %}">

    {% if cic_system_role %}
        <!-- test typescript / webpack -->
        {% if production %}
        <script src="{% static 'proms/js/runtime-bundle.min.js' %}"></script>
        <script src="{% static 'proms/js/main-bundle.min.js' %}"></script>
        {% else %}
        <script src="{% static 'proms/js/runtime-bundle.min.js' %}"></script>
        <script src="{% static 'proms/js/main-bundle.min.js' %}"></script>
        {% endif %}
    {% endif %}

    {% project_stylesheet as PSS %}
    {% if PSS %}
    {% static "" as baseUrl %}
    <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/{{ PSS }}" media="all">
    {% endif %}

    <script type="text/javascript" src="{% static 'js/vendor/jquery-1.11.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/jquery-ui-1.11.4.min.js' %}"></script>

    {% if request.LANGUAGE_CODE.lower != "en" %}
    {% static "" as baseUrl %}
    <script src="{{ baseUrl }}/js/vendor/i18n/datepicker-{{ request.LANGUAGE_CODE }}.js"></script>
    {% endif %}

    <script type="text/javascript" src="{% static 'vendor/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap-slider-10.6.2/js/bootstrap-slider.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/underscore-1.5.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/calculated_field_plugin.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/rpc_module.js' %}"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript" src="{% static 'js/rdrf.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/collapsing_panels.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/timepicki-2.0.1/js/timepicki.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/jquery-time-duration-picker-2.2.5.min.js' %}"></script>
    <script type="text/javascript">var django = { $: $.noConflict() }; if (!$) $ = django.$; </script>

    {% block extrastyle %}
    {% endblock %}

    {% block extrahead %}
    {% endblock %}

    <script>
        $(document).ready(function () {
            var hasErrors = {{ error_messages|length }} > 0;

            adjustContentTopPadding();

            $("#submit-btn").click(function () {
                $("#main-form").submit();
            });

            hide_empty_menu();

            CollapsingPanels.setUp();
            if (hasErrors) {
                CollapsingPanels.expandAll();
            } else {
                CollapsingPanels.expandFirst();
            }

            function toggleSidebar() {
                $('#sidebar').toggleClass('sidebar-hide');
                $('#sidebar-button').toggleClass('sidebar-active');
                $('.blur').toggle();
                var selectedLink = $('.selected-link');
                if (selectedLink.length) {
                    selectedLink.parents('.panel')[0].scrollIntoView();
                }
            }
            $("#sidebar-button").click(toggleSidebar);
            $(".blur").click(toggleSidebar);
        });
    </script>

    {% if HIGHLIGHT_FORM_CHANGES_ENABLED %}
        <script type="text/javascript" src="{% static 'js/highlight_changes.js' %}"></script>
    {% endif %}

    {% include "rdrf_cdes/auto_logout.html" %}
</head>

<body>
    <div class="blur"></div>
    <div id="wrap">
        {% include "rdrf_cdes/navbar.html" with show_sidebar_button=True %}

        {% if location %}
        <div class="banner">
            <!-- base 2 cols banner -->
            <div class="container">
                    <!-- name row -->
                        <div class="row">
                            <div class="col-sm-12">
                            <h3>
                                {% if patient_link %}
                                    {{ patient_link | safe}}
                                {% elif patient %}
                                    <i class="text-muted">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                        {{patient}}
                                    </i>
                                {% endif %}
                            </h3>
                        </div>
                        </div>
                        {{ patient_info }}

                <div class="row">
                    <!-- command button row -->
                    <div class="col-xs-3" style="text-align: left">
                        {% if show_archive_button %}
                        <div class="btn-group" role="group" aria-label="...">
                            <a class="btn btn-danger" href="" data-toggle="modal" data-target="#archive_modal" target="_blank">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                {% trans "Delete " %}
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    {% if not changes_since_version %}
                        <div class="col-xs-9" style="text-align: right">
                            {% block formbtns %}
                            {% endblock %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}

        <div id="content" class="container-fluid" style="padding-top: 150px;">
            {% if messages %}
            <div class="header">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        {% for message in messages %}
                        <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="row">
                <div id="sidebar" class="col-md-offset-1 col-md-2 sidebar sidebar-hide">
                    <div class="well" style="background-color: #eeeeee;">
                        {% block sidebar %}
                        {% endblock %}
                    </div>
                </div>
                <div class="col-md-8">
                    {% block content %}

                    {% include 'rdrf_cdes/archive_modal.html' %}
                    {% include 'rdrf_cdes/form_modal.html' %}
                    {% if header %}
                        <div class="panel panel-info trrf-page-header">
                            <div class="panel-body">
                                {% include header_expression %}
                                {% if has_previous_data %}
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {% trans "View Changes Since" %}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            {% for version in previous_versions %}
                                               <li><a class="dropdown-item" href="?changes_since_version={{version.id}}">{{version.name}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% if changes_since_version %}
                                        <button type="button" id="exit-compare-mode-btn" class="btn btn-default" >{% trans "Exit compare mode" %}</button>
                                        <div class="alert alert-info" style="margin-top: 12px; margin-bottom: 0px">
                                            <h4>{% trans "Compare mode" %}</h4>
                                            <p>
                                            {% blocktrans with since_version=selected_version_name %}
                                            Displaying fields that changed since <strong>{{ since_version }}</strong>.
                                            Please hover over the fields to see their previous value.
                                            {% endblocktrans %}
                                            </p>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                {% if delete_form_url and not changes_since_version and is_multi_context %}
                                    <div class="btn-group" role="group" aria-label="...">
                                        <a class="btn btn-danger" href="" data-toggle="modal" data-target="#form_modal" target="_blank">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            {% trans "Delete " %}
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    {% endblock%}
                </div>
            </div>
        </div>
        {% block footer %}
        {% include 'rdrf_cdes/footer.html' %}
        {% endblock %}
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#exit-compare-mode-btn').click(function() {
                window.location.href=window.location.pathname;
            });
        })
    </script>
</body>

</html>
