{% load static from staticfiles %}
{% load admin_urls %}
{% load get_form %}
{% load get_forms %}
{% load get_elements %}
{% load i18n %}
{% load project_logo %}
{% load project_logo_link %}
{% load project_stylesheet %}
{% load project_title %}
{% load project_title_link %}
{% load translate %}
{% block htmltype %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% endblock %}

<head>
    <title>{% project_title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'vendor/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-slider-10.6.2/css/bootstrap-slider.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/rdrf.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/timepicki-2.0.1/css/timepicki.css' %}">


    {% project_stylesheet as PSS %}
    {% if PSS %}
    {% static "" as baseUrl %}
    <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/{{ PSS }}" media="all">
    {% endif %}

    <script type="text/javascript" src="{% static 'js/vendor/jquery-1.11.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/jquery-ui-1.11.4.min.js' %}"></script>

    {% if request.LANGUAGE_CODE.lower != "en" %}
    {% static "" as baseUrl %}
    <script src="{{ baseUrl }}/js/vendor/i18n/datepicker-{{ request.LANGUAGE_CODE }}.js"></script>
    {% endif %}

    <script type="text/javascript" src="{% static 'vendor/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap-slider-10.6.2/js/bootstrap-slider.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-validation-1.13.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/date_validation.js' %}"></script>
    <script type = "text/javascript" src = "{% static 'js/calculated_field_plugin.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/vendor/underscore-1.5.2.min.js' %}"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript" src="{% static 'js/rpc_module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/rdrf.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/timepicki-2.0.1/js/timepicki.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/jquery-time-duration-picker-2.2.5.min.js' %}"></script>
    <script type="text/javascript">var django = { $: $.noConflict() }; if (!$) $ = django.$; </script>
    {% block extrastyle %}
    <style>
        body {
            padding-top: 60px;
        }

        .popover {
            max-width: 40%;
        }
    </style>
    {% endblock %}
    {% block extrahead %}{% endblock %}

    <script src="{% url 'js_reverse' %}" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            addExtraValidationMethods();

            $("#submit-btn").click(function () {
                $("#main-form").submit();
            });

            hide_empty_menu(); // Hide the menu dropdown option if there are no elements

            $('[data-toggle="popover"]').popover({
                container: 'body'
            });

        });
    </script>
</head>

<body>
    <div id="wrap">
        {% include "rdrf_cdes/navbar.html" %}

        {% block sidebar %}
        {% endblock %}

        {% block content_wrapper %}

        <div class="container">
            {% if messages %}
            {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{message}}</div>
            {% endfor %}
            {% endif %}

            {% block content%}
            {% if location %}
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <h3>
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{ location|translate|safe }}
                        </h3>
                    </p>
                    {{ patient_link | safe}}
                </div>
            </div>
            {% endif %}

            {% if header %}
            <br>
            <div class="panel panel-info">
                <div class="panel-body">
                    {{ header|safe }}
                </div>
            </div>
            {% endif %}

            {% endblock%}
        </div>
        {% endblock content_wrapper %}
        {% block footer %}
        {% include 'rdrf_cdes/footer.html' %}
        {% endblock %}
    </div>
</body>
</html>
