{% extends "rdrf_cdes/base_simple.html" %}
{% load i18n %}
{% load translate %}

{% block extrahead %}
    {{ block.super }}
    <script>
        $(document).ready(function(){
            window.print();
            window.onafterprint = function() { window.close() };
        });
    </script>
{% endblock %}

{% block content %}
    <blockquote>
        <b>Patient Consents</b> - {{registry}}
    </blockquote>

    <table class="table table-bordered table-hover" id="list_of_patients">
        <thead>
            <tr>
                <th class="col-md-5">Patient - Consent Type</th>
                <th class="col-md-3" style="text-align: center;">First Save</th>
                <th class="col-md-3" style="text-align: center;">Last Update</th>
                <th class="col-md-1" style="text-align: center;">Status</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in consents %}
            <tr>
                <td class="col-md-5"><strong>{{patient}}</strong> - {{patient.consent_section_label|translate}}</td>
                <td class="col-md-3" style="text-align: center;">{{patient.first_save|date:"d F Y"}}</td>
                <td class="col-md-3" style="text-align: center;">{{patient.last_update|date:"d F Y"}}</td>
                <td class="col-md-1" style="text-align: center;">
                    {% if patient.cnt_total_questions == patient.cnt_completed_answers %}
                        <span class="fa fa-check" style='color: green;' aria-hidden="true"></span>
                    {% else %}
                        <span class="fa fa-times" style='color: red;' aria-hidden="true"></span>
                    {% endif %}
                </td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>

{% endblock %}
