{% extends "rdrf_cdes/base.html" %}
{% load static %}
{% load i18n admin_urls admin_static admin_modify %}
{% load translate %}

{% block content %}
<h2> {% trans "Conditional element rendering" %} </h2>
<p>
    {% trans "A DSL ( Domain Specific Language) was implemented to aid you in specifying rules for conditionally rendering form fields and sections." %}
    <br/>
    {% trans "You can specify multiple rules, each one on a separate line." %}
    <br/>
    <br/>
    {% trans "A rule has 3 parts:" %}
        <strong>{% trans "target" %}</strong>&nbsp;
        <strong>{% trans "visibility" %}</strong>&nbsp;
        <strong>{% trans "condition" %}</strong>
    <br/>
    <br/>
    <strong>{% trans "target" %}</strong>&nbsp;
    {% trans "It can be either a CDE code, a list of CDEs, a section or a list of sections" %}</br>
    {% trans "A CDE can be specified by the CDE code or a CDE code prefixed by section code like sectionCode:cdeCode" %}
    <br/>
    <br/>
    <strong>{% trans "visibility" %}</strong>&nbsp;{% trans "Specifies the visibility of the target(s) if the condition holds" %}
    {% trans "Can have one for the following values:" %}
    <ul>
        <li>visible</li>
        <li>hidden</li>
        <li>enabled</li>
        <li>disabled</li>
    </ul>
    <em>{% trans "For sections only the first two are currently used. ie. You can't disable a form section." %}</em>
    <br/>
    <br/>
    <strong>{% trans "condition" %}</strong>&nbsp;{% trans "Specifies a condition on a CDE. You can have single or multiple conditions." %}
    <br/>
    <br/>
    A <strong>{% trans "single condition" %}</strong>&nbsp;{% trans "has the following format" %} <strong>&lt;CDE &gt;</strong>&nbsp; <strong>&lt;operator&gt;</strong>&nbsp; <strong>&lt;value&gt;</strong>
    <br/>
    {% trans "The operator can have one for the following values:" %}
    <ul>
        <li>==</li>
        <li>!=</li>
        <li>&gt;</li>
        <li>&lt;</li>
        <li>&gt;=</li>
        <li>&lt;=</li>
        <li>is</li>
        <li>includes</li>
        <li>does not include</li>
    </ul>

    <em>
        {% trans "Note:" %}
        <br/>
        {% trans "When using" %}<code>is</code> {% trans "the only 2 values supported are" %}<code>set</code> {% trans "or" %}<code>unset</code>{% trans "(ie. is the CDE set to any value, respectively not set to any value.)" %}</em>
        <br/>
        {% trans "When using" %}<code>includes/does not include</code> {% trans "the CDE on which the operator is applied need to allow multiple values" %}
    </em>

    <br/>
    <br/>

    A <strong>{% trans "multiple condition" %}</strong>&nbsp;{% trans "has the following format" %} {% trans "has the following format" %} <strong>&lt;single condition&gt;</strong>&nbsp;<strong>&lt;boolean operator&gt;</strong>&nbsp;<strong>&lt;single_condition&gt;</strong>...
    <br/>
    {% trans "The boolean operator can have one for the following values:" %}
    <ul>
        <li>and</li>
        <li>or</li>
    </ul>
    <br/>
    <h4>{% trans "Examples" %}</h4>
    <code>ANGAllergiesType ANGAllergySpecify visible if ANGAllergies == Yes</code>
    <p>
        {% trans "This rule states that" %} ANGAllergiesType {%trans "and" %} ANGAllergySpecify CDEs {% trans "should be visible if the value for" %} ANGAllergies {%trans "is" %} Yes
    </p>
    <code>section ANGHospitalVisit1 visible if ANGHospitalVisit1AdmissionDate == "17-05-2019"</code>
    <p>
        {% trans "This rule states that" %} ANGHospitalVisit1 {%trans "section" %}  {% trans "should be visible if the value for" %} ANGHospitalVisit1AdmissionDate {%trans "is" %} 17-05-2019
        <br/>
        <strong>{% trans "Note" %}</strong>: {%trans "If you have spaces, dashes or commas in the values you must enclose the string in quotes" %}
    </p>
    <code>ANGAllergySpecify hidden if ANGAllergiesType == "Other, Food"</code>
    <p>
        {% trans "This rule states that" %} ANGAllergySpecify {%trans "CDE" %}  {% trans "should be hidden if the value for" %} ANGAllergiesType {%trans "is one of" %} "Other, Food"
        <br/>
        <strong>{% trans "Note" %}</strong>: {%trans "for elements with multiple values (in this case a checkbox) the values must be separated by comma" %}
    </p>
    <code>section ANGHospitalVisit1 visible if ANGHospitalVisits == Yes and ANGSurgicalProcedures == Yes</code>
    <p>
        {% trans "This rule states that" %} ANGHospitalVisit1 {%trans "section" %}  {% trans "should be visible if the value for both" %} ANGHospitalVisits {%trans "and" %} ANGSurgicalProcedures {%trans "is" %} Yes
        <br/>
    </p>
    <code>ANGAllergySpecify hidden if ANGAllergiesType is set</code>
    <p>
        {% trans "This rule states that" %} ANGAllergySpecify {%trans "CDE" %}  {% trans "should be hidden if " %} ANGAllergiesType {%trans "has any value set" %}
        <br/>
    </p>
    <code>ANGAllergySpecify hidden if ANGAllergiesType is unset</code>
    <p>
        {% trans "This rule states that" %} ANGAllergySpecify {%trans "CDE" %}  {% trans "should be hidden if " %} ANGAllergiesType {%trans "does not have any value set" %}
        <br/>
    </p>
    <code>ANGAllergySpecify hidden if ANGAllergiesType includes Other</code>
    <p>
        {% trans "This rule states that" %} ANGAllergySpecify {%trans "CDE" %}  {% trans "should be hidden if " %} ANGAllergiesType {%trans "includes the value" %} Other
        <br/>
    </p>
    <code>ANGAllergySpecify hidden if ANGAllergiesType does not include "Other, Food"</code>
    <p>
        {% trans "This rule states that" %} ANGAllergySpecify {%trans "CDE" %}  {% trans "should be hidden if " %} ANGAllergiesType {%trans "does not include the values" %} Other {%trans "or" %} Food
        <br/>
    </p>
    <code>section1:ANGAllergySpecify hidden if section2:ANGAllergiesType == Other</code>
    <p>
        {% trans "This rule states that" %} ANGAllergySpecify {%trans "CDE" %} {% trans "from section" %} section1 {% trans "should be hidden if " %} ANGAllergiesType {%trans "from section" %} section2 {%trans "does not equal to" %} Other
        <br/>
    </p>
</p>
{% endblock %}
