{% load i18n %}
{% load translate %}
{% load project_title %}
{% load project_title_link %}
{% load get_language_settings %}
{% load has_subscribable_email %}

{% include "localisation/language_picker_form.html" %}
<div class="collapse navbar-collapse justify-content-end" id="navbar-collapsing-links">
    <ul class="navbar-nav navbar-right">
      <li class="nav-item"><a class="nav-link d-md-none" href="{% project_title_link %}">{% project_title %}</a></li>
        {% get_language_settings as LANGUAGES %}
        {% get_current_language as CURRENT_LANGUAGE %}
        {% if LANGUAGES|length > 1 %}
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="languageDropdown" data-bs-toggle="dropdown" role="button"
                   aria-expanded="false">
                    <span class="fa fa-globe"></span> {% trans 'Language' %}<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" style="cursor: pointer" aria-labelledby="languageDropdown">
                    {% for language_code, language_name in LANGUAGES %}
                        {% if language_code == CURRENT_LANGUAGE %}
                            <li><a class="dropdown-item" onclick="setLanguage('{{ language_code }}')" style="font-weight: bold">{{ language_name }} ({% trans 'Selected' %})</a></li>
                        {% else %}
                            <li><a class="dropdown-item" onclick="setLanguage('{{ language_code }}')">{{ language_name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
        {% if request.user.is_authenticated %}
            {% block parent_menu %}
            {% endblock %}

            {% if request.user.is_parent or request.user.is_patient %}
              <li class="nav-item"><a class="nav-link" href="{{ request.user.default_page }}">
                <span class="fa fa-home"></span>
                {% trans "Home Page" %}</a>
              </li>
            {% endif %}

            {% block actions %}
            {% endblock %}

            {% block formlinks %}
            {% endblock %}

            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="menuLinksDropdown" data-bs-toggle="dropdown" role="button"
                   aria-expanded="false">
                    <span class="fa fa-tasks"></span> {% trans 'Menu' %}<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="menuLinksDropdown" role="menu">
                    {% for quick_link in request.user.menu_links %}
                        <li><a class="dropdown-item" href="{{ quick_link.url }}">{% trans quick_link.text %}</a></li>
                    {% endfor %}
                    {% block extra_menu %}
                    {% endblock %}
                </ul>
            </li>

            {% if request.user.is_superuser %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="settingLinksDropdown" data-bs-toggle="dropdown" role="button"
                       aria-expanded="false">
                        <span class="fa fa-wrench"></span> {% trans 'Settings' %}<span
                            class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="settingLinksDropdown" role="menu">
                        {% for quick_link in request.user.settings_links %}
                            <li><a class="dropdown-item" href="{{ quick_link.url }}">{{ quick_link.text|translate }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}


            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="authMenuDropdown" data-bs-toggle="dropdown" role="button"
                   aria-expanded="false">
                  <span class="fa fa-user"></span>
                  {{ request.user.get_full_name }}
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="authMenuDropdown" role="menu">
                    {% if request.user.is_superuser %}
                        <li><a class="dropdown-item" href="{% url 'admin:index' %}"><span class="fa fa-fw fa-wrench"></span>
                            {% trans 'Admin Page' %}</a></li>
                        <li><hr class="dropdown-divider"></li>
                    {% endif %}
                    {% if request.user.is_parent and registry_code and parent %}
                        <li><a class="dropdown-item" href="{% url 'registry:parent_edit' registry_code parent.id %}"><span
                                class="fa fa-fw fa-wrench"></span>
                            {% trans 'Account' %}</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'email_address_change' %}"><span class="fa fa-fw fa-envelope"></span>
                        {% trans 'Change Email Address' %}</a></li>
                    <li><a class="dropdown-item" href="{% url 'password_change' %}"><span class="fa fa-fw fa-lock"></span>
                        {% trans 'Change Password' %}</a></li>
                    {% if user.is_verified %}
                        <li><a class="dropdown-item" href="{% url 'two_factor:disable' %}"><span class="fa fa-fw fa-times"></span>
                            {% trans "Disable two-factor auth" %}</a></li>
                    {% else %}
                        <li><a class="dropdown-item" href="{% url 'two_factor:setup' %}"><span class="fa fa-fw fa-check"></span>
                            {% trans "Enable two-factor auth" %}</a></li>
                    {% endif %}
                    {% if request.user|has_subscribable_email %}
                        <li><a class="dropdown-item" href="{% url 'email_preferences' %}"><span class="fa fa-envelope-o"></span>
                            {% trans 'Email Preferences' %}</a></li>
                    {% endif %}
                    {% block patient_menu %}
                    {% endblock %}
                    <li><a class="dropdown-item" href="{% url 'logout' %}?next={% url 'login_router' %}"><span
                            class="fa fa-fw fa-sign-out"></span>
                        {% trans 'Logout' %}</a></li>

                </ul>
            </li>
        {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'two_factor:login' %}?next={% url 'login_router' %}"><span
                    class="fa fa-fw fa-sign-in"></span>
                {% trans 'Log in' %}</a></li>
        {% endif %}
    </ul>
</div>