{% load static %}
{% load project_logo %}
{% load project_title %}
{% load project_title_link %}
{% load i18n %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
      {% if show_sidebar_button %}
        <span id="sidebar-button" class="fa fa-list navbar-left d-lg-none"></span>
      {% endif %}
      <a class="navbar-brand project_title" href="{% project_title_link %}">
        {% project_logo as PL %}
        {% project_title as PT %}
        {% if PL %}
          <img src="{% static PL %}" class="project_logo" alt="{% trans "Project logo" %}">
          &nbsp;
        {% endif %}
        {% if PT %}
          <span class="d-none d-md-inline">{% project_title %}</span>
        {% endif %}
      </a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-collapsing-links" aria-controls="navbar-collapsing-links" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-chevron-down"></span>
      </button>
    {% block navbar_links %}
      {% include "rdrf_cdes/navbar_links.html" %}
    {% endblock %}
  </div>
</nav>