{% extends "rdrf_cdes/base.html" %}
{% load static %}
{% load i18n %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/jquery-1.12.1/themes/smoothness/jquery-ui.min.css' %}">
    <script>
        $(document).ready(function() {
            $(":input").not(':input[type=checkbox], :input[type=radio], :input[type=button], :input[type=submit], :input[type=reset]').addClass("form-control");
            
            $(document).find("input[name*='date']").each(function() {
                var cal_group = $("<label for='"+$(this).prop("id")+"' class='input-group-addon btn'><span class='fa fa-calendar'></span></label>");
                $(this).wrap("<div class='input-group'></div>");
                cal_group.insertAfter($(this));
                
                $(this).datepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: 'yy-mm-dd',
                    yearRange: '-100:+0'
                });
            });
            
        });
        
        function select_country(obj) {
            state_id = obj.id.replace("country", "state");
            state_select = $('#' + state_id);
            state_select.find('option').remove();
            $.get( "{% url 'v1:state_lookup' 'XX' %}".replace('XX', obj.value), function( data ) {
                if (data) {
                    $.each(data, function(i, item) {
                        state_select.append("<option value=" + item.code +">"+ item.name +"</option>");
                    })
                }
            });
        }
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p><h3><span class="fa fa-list-alt" aria-hidden="true"></span> {% trans 'Parent Details' %}</h3></p>
            <i class="text-muted"><span class="fa fa-user" aria-hidden="true"></span> {{ parent.first_name }} {{  parent.last_name }}</i>
        </div>
    </div>
    <br>
    <form class="form-horizontal date-form" method="POST">
        {% csrf_token %}
        {% for field in parent_form %}
            <div class="row {% if field.errors %}has-error{% endif %}">
                <label for="{{field.id_for_label}}" class="col-md-3 offset-md-1 col-form-label">{% if field.field.required %}<span class="fa fa-asterisk" style="color: red" aria-hidden="true"></span>{% endif %} {{field.label}}</label>
                <div class="col-md-6">
                    {{ field }}
                </div>
                <div class="col-md-2">
                    {% if field.errors %}<span class="badge bg-danger">{{field.errors.as_text}}</span>{% endif %}
                </div>
            </div>
        {% endfor %}
	    
        <div class="row">
            <div class="col-md-10">
                <input type="submit" class="btn btn-success float-end" value="{% trans 'Save' %}">
            </div>
        </div>
    </form>
{% endblock %}
