{% extends "rdrf_cdes/base-1-col.html" %}
{% load static %}
{% load has_feature %}
{% load i18n %}

{% load translate %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/datatables-1.12.0/css/datatables.min.css' %}">
    <script type="text/javascript" src="{% static 'vendor/datatables-1.12.0/js/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/jsignature-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/rdrf.js' %}"></script>
    {{ columns|json_script:"column-definitions"}}
    <script>
        var columnDefinitions = JSON.parse(document.getElementById('column-definitions').textContent);
        $(document).ready(function () {
            adjustContentTopPadding();

            $.fn.dataTable.ext.errMode = 'throw';

            var initialPatientId = "{{patient_id}}";
            var contextFormGroupId = "{{context_form_group_id}}";
            const registryCode = '{{ registry.code }}';

            var api_url = "{% url 'patient_list' registry.code  %}";
            var rpc = new RPC.RPC("{% url 'rpc' %}", "{{csrf_token}}");

            $("contextmenu").popover({ html: true });

            $.ajaxSetup({
                beforeSend: function (xhr) {
                    var csrfToken = '{{ csrf_token }}';
                    xhr.setRequestHeader('X-CSRFToken', csrfToken);
                }
            });

            function wireUpFormsButtons() {

                $(".patient-forms-button").click(function () {
                    var button = $(this);

                    function showFormsList(html) {
                        var ul = button.parent().find("ul.dropdown-menu");
                        if (html.indexOf("<li>") == -1) html = "<li>No Data</li>";
                        $(ul).html(html);
                    }

                    var patientId = parseInt(button.data("patient"));
                    var formGroupId = parseInt(button.data("formgroup"));

                    rpc.send("get_forms_list", [registryCode, patientId, formGroupId], function (response) {
                        if (response.status == "fail") {
                            alert(response.error);

                        } else {
                            var html = response.result.html;
                            showFormsList(html);
                        }
                    });


                });
            }

            function getDrawLength() {
                try {
                    var length = $("#patients_table_length").val();
                    if (length == undefined || length == "") {
                        return 10;
                    }
                    return length;
                }

                catch (err) {
                    return 10;
                }
            }

            function getApiUrl(drawLength) {
                const params = {'length': drawLength};

                if (initialPatientId) {
                    params['patient_id'] = initialPatientId;
                }

                if (contextFormGroupId) {
                    params['context_form_group_id'] = contextFormGroupId
                }

                return `${api_url}?${$.param(params)}`;
            }

            var load_contexts_list;
            var context_list;

            {% block datatables-config %}
            var dataTablesConfig = {
                "processing": true,
                "serverSide": true,
                "deferLoading": 0,
                "bAutoWidth": false,
                "fnDrawCallback": function (oSettings) {
                    wireUpFormsButtons();
                },
                "ajax": {
                    url: getApiUrl(getDrawLength()),
                    dataSrc: "rows",
                    type: "POST"
                },
                "columns": columnDefinitions,
            };
            {% endblock datatables-config %}

            {% if columns %}
                context_list = $("#patients_table").DataTable(
                    dataTablesConfig
                    ).on("draw", function () {
                        $("#loading_text").hide();
                        $('button[data-bs-toggle=popover]').popover({
                            'html': true,
                            'title': '',
                            'trigger': 'click',
                            'placement': 'bottom',
                            'container': 'body'
                        });
                    });
                load_contexts_list = function (apiUrl) {
                    if (context_list) {
                        context_list.ajax.url(apiUrl).load();
                    }
                }
            {% else %}
                load_contexts_list = function () { $("#loading_text").hide(); }
            {% endif %}

            // init
            load_contexts_list(getApiUrl(getDrawLength()));
            wireUpFormsButtons();
        });
    </script>
{% endblock %}

{% block formbtns %}
    {% if not user.is_carer and not registry|has_feature:"no_add_patient_button" %}
        <br>
        <div class="btn-group" role="group" aria-label="...">
            <a href="{% url 'patient_add' registry.code %}" class="btn btn-success">
                <span class="fa fa-plus" aria-hidden="true"></span> {% trans 'Add Patient' %}
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
      <p>
          <span id="loading_text"><i>{% trans 'Loading...' %}</i></span>
      </p>

      <table id="patients_table" class="table table-striped table-hover">
          <thead>
              <tr>
                  {% for column in columns %}
                      <th>{{ column.label|translate|safe}}</th>
                  {% endfor %}
              </tr>
          </thead>
      </table>
    </div>
{% endblock %}
