{% extends "rdrf_cdes/base-1-col.html" %}
{% load static %}
{% load has_feature %}
{% load i18n %}

{% load translate %}

{% load lookup %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/datatables-1.12.0/css/datatables.min.css' %}">
    <script type="text/javascript" src="{% static 'vendor/datatables-1.12.0/js/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/jsignature-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/rdrf.js' %}"></script>
    {{ columns|json_script:"column-definitions"}}
    <script>
        var columnDefinitions = JSON.parse(document.getElementById('column-definitions').textContent);
        $(document).ready(function () {
            adjustContentTopPadding();

            $.fn.dataTable.ext.errMode = 'throw';

            const registryCode = '{{ registry.code }}';

            var api_url = "{% url 'patient_list' registry.code  %}";
            var rpc = new RPC.RPC("{% url 'rpc' %}", "{{csrf_token}}");

            $("contextmenu").popover({ html: true });

            $.ajaxSetup({
                beforeSend: function (xhr) {
                    var csrfToken = '{{ csrf_token }}';
                    xhr.setRequestHeader('X-CSRFToken', csrfToken);
                }
            });

            function wireUpFormsButtons() {

                $(".patient-forms-button").click(function () {
                    var button = $(this);

                    function showFormsList(html) {
                        var ul = button.parent().find("ul.dropdown-menu");
                        if (html.indexOf("<li>") == -1) html = "<li>No Data</li>";
                        $(ul).html(html);
                    }

                    var patientId = parseInt(button.data("patient"));
                    var formGroupId = parseInt(button.data("formgroup"));

                    rpc.send("get_forms_list", [registryCode, patientId, formGroupId], function (response) {
                        if (response.status == "fail") {
                            alert(response.error);

                        } else {
                            var html = response.result.html;
                            showFormsList(html);
                        }
                    });


                });
            }

            function getDrawLength() {
                try {
                    var length = $("#patients_table_length").val();
                    if (length == undefined || length == "") {
                        return 10;
                    }
                    return length;
                }

                catch (err) {
                    return 10;
                }
            }

            function getFilterParams() {
                const filters = {};
                let selected_values;
                {% for key, value in facets.items %}
                    selected_values = [];
                    $(`:checkbox[name='filter_{{ key }}']:checked`).each(function(i, elem) {
                      selected_values.push($(elem).val());
                    });
                    filters[`filter[{{ key }}]`] = selected_values
                {% endfor %}
                return filters;
            }

            var load_contexts_list;
            var context_list;
            var dataTablesConfig = {
                "processing": true,
                "serverSide": true,
                "deferLoading": 0,
                "bAutoWidth": false,
                "fnDrawCallback": function (oSettings) {
                    wireUpFormsButtons();
                },
                "ajax": {
                    url: api_url,
                    dataSrc: "rows",
                    type: "POST",
                    data: function (d) {
                        const params = {'length': getDrawLength()};
                        return $.extend(params, d, getFilterParams())
                    }
                },
                "columns": columnDefinitions,
            };

            {% if columns %}
                context_list = $("#patients_table").DataTable(
                    dataTablesConfig
                    ).on("draw", function () {
                        $("#loading_text").hide();
                        $('button[data-bs-toggle=popover]').popover({
                            'html': true,
                            'title': '',
                            'trigger': 'click',
                            'placement': 'bottom',
                            'container': 'body'
                        });
                    });
                load_contexts_list = function () {
                    if (context_list) {
                        context_list.ajax.reload();
                    }
                }
            {% else %}
                load_contexts_list = function () { $("#loading_text").hide(); }
            {% endif %}

            // init
            load_contexts_list();
            wireUpFormsButtons();

            $(".trrf-filters :checkbox").on("click", function() {
                load_contexts_list();
            });

        });
    </script>
{% endblock %}

{% block formbtns %}
    {% if not (user.is_carer or user.is_parent) and not registry|has_feature:"no_add_patient_button" %}
        <br>
        <div class="btn-group" role="group" aria-label="...">
            <a href="{% url 'patient_add' registry.code %}" class="btn btn-success">
                <span class="fa fa-plus" aria-hidden="true"></span> {% trans 'Add Patient' %}
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
      <p>
          <span id="loading_text"><i>{% trans 'Loading...' %}</i></span>
      </p>

      <div class="row">
        {% if facets %}
        <div class="col-lg-3 col-xxl-2 small">
          <div class="card">
            <h5 class="card-header text-white bg-primary">Filters</h5>
            <ul class="list-group list-group-flush trrf-filters">
              {% for key,facet_config in facets.items %}
                <li class="list-group-item">
                  <h6>{{ facet_config|lookup:'label' }}</h6>
                  <ul class="list-group list-group-flush" id="filter-{{ key }}" data-facet-key="{{ key }}">
                  {% for category in facet_config|lookup:'categories' %}
                    {% with label=category|lookup:'label' value=category|lookup:'value' total=category|lookup:'total' %}
                      <li class="list-group-item pt-1 pb-0 border-0 form-check" id="option-{{ key }}-{{ value }}">
                        <input class="form-check-input" type="checkbox" name="filter_{{ key }}" value="{{ value }}" id="filter-{{ key }}-{{ value }}"
                          {% if value and value == facet_config|lookup:'default' %}
                                checked="checked"
                          {% endif %}
                        >
                        <label class="form-check-label d-inline" for="filter-{{ key }}-{{ value }}">
                          {{ label }}
                        </label>
                        <span data-filter-item="total" class="badge bg-primary rounded-pill pull-right">{{ total }}</span>

                      </li>
                    {% endwith %}
                  {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-lg-9 col-xxl-10">
        {% else %}
        <div class="col-12">
        {% endif %}
          <table id="patients_table" class="table table-striped table-hover">
            <thead>
            <tr>
              {% for column in columns %}
                <th>{{ column.label|translate|safe }}</th>
              {% endfor %}
            </tr>
            </thead>
          </table>
        </div>
      </div>

    </div>
{% endblock %}
