{# Adapted from 'django/forms/widgets/multiple_input.html' #}
{% with id=widget.attrs.id %}
  <div{% if id %} id="{{ id }}"{% endif %} class="{{ column_width }} {% if widget.attrs.class %}{{ widget.attrs.class }}{% endif %}">
    {% for group, options, index in widget.optgroups %}
      {% if group %}
        <div><label>{{ group }}</label>
        <div{% if id %} id="{{ id }}_{{ index }}"{% endif %}>
      {% endif %}
      {% for option in options %}
        <div class="form-check {% if group %} ms-4 {% endif %}">
          <input class="form-check-input" type="radio" name="{{ option.name }}" id="{{ option.attrs.id }}" />
          <label class="form-check-label" for="{{ option.attrs.id }}">{{ option.label }}</label>
        </div>
      {% endfor %}
      {% if group %}
        </div></div>
      {% endif %}
    {% endfor %}
  </div>
{% endwith %}
