<!-- start demographics form launcher -->
{% load i18n %}
{% load translate %}
{% load lookup %}
<script>
  // Taken from https://stackoverflow.com/a/16861050
  function popupCenter(url, title, w, h) {
    var dualScreenLeft = window.screenLeft !== undefined ? window.screenLeft : window.screenX;
    var dualScreenTop = window.screenTop !== undefined ? window.screenTop : window.screenY;

    var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
    var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

    var systemZoom = width / window.screen.availWidth;
    var left = (width - w) / 2 / systemZoom + dualScreenLeft;
    var top = (height - h) / 2 / systemZoom + dualScreenTop;
    var newWindow = window.open(url, title, 'scrollbars=yes, width=' + w / systemZoom + ', height=' + h / systemZoom + ', top=' + top + ', left=' + left);

    // Puts focus on the newWindow
    if (window.focus) newWindow.focus();
  }
</script>

<style>
  .panel-body  {
    word-break:break-word
  }
  .panel-footer {
    text-align: right;
    font-weight: bold;
  }
</style>

<div width="100%" class="panel panel-default collapsible">
  <div class="panel-body">
    {% if current_form_name == "Demographics" %}
      <i>{{ form_titles.Demographics  }}</i>
    {% else %}
      <a href="{{demographics_link}}">{{ form_titles.Demographics }}</a>
    {% endif %}
  </div>
</div>


{% if not consent_locked %}
  <div width="100%" class="panel panel-default collapsible">
    <div class="panel-body">
      {% if current_form_name == "Consents" %}
        <i>{{ form_titles.Consents }}</i>
      {% else %}
        <a href="{{consents_link}}">{{ form_titles.Consents }}</a>
      {% endif %}
    </div>
  </div>


{% if clinician_form_link %}
  <div width="100%" class="panel panel-default collapsible">
    <div class="panel-body">
      {% if current_form_name == "Clinician" %}
        <i>{{ form_titles.Clinician }}</i>
      {% else %}
        <a href="{{clinician_form_link}}">{{ form_titles.Clinician }}</a>
      {% endif %}
    </div>
  </div>
{% endif %}

  {% if proms_link %}
    <div width="100%" class="panel panel-default collapsible">
      <div class="panel-body">
        {% if current_form_name == "Proms" %}
          <i>{{ form_titles.Proms }}</i>
        {% else %}
          <a href="{{proms_link}}">{{ form_titles.Proms }}</a>
        {% endif %}
      </div>
    </div>
  {% endif %}


{% if family_linkage_link %}
  <div width="100%" class="panel panel-default collapsible">
    <div class="panel-body">
      {% if current_form_name == "Family Linkage" %}
        <i>{{ form_titles|lookup:"Family linkage" }}</i>
      {% else %}
        <a href="{{family_linkage_link}}">{{ form_titles|lookup:"Family linkage" }}</a>
      {% endif %}
    </div>
  </div>
{% endif %}

  {% for type, context in context_form_groups %}
    {% if type == 'fixed' %}
      <div class="panel panel-default collapsible">
        <div class="panel-heading">
          {{context.name|translate}}
        </div>
        <div class="panel-body">
          {% for form in context.forms %}
            <p>
              {% if form.current %}
                <i>{{form.text|translate}}</i>
              {% else %}
                <a href="{{form.url}}">{{form.text|translate}}</a>
              {% endif %}
            </p>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if type == 'multiple' %}
      <div width="100%" class="panel panel-default collapsible">
        <div class="panel-heading" data-toggle="collapse" data-target="#existing_{{multiple_context.id}}">
          {{context.heading}}
          {% if can_add_proms %}
            <a class="btn btn-info btn-xs pull-right"
               onclick="location.href='{{context.add_link_url}}';">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</a>
          {% endif %}
        </div>
        <div id="existing_{{context.id}}" class="panel-body">

          {% for link in context.existing_links %}
            {% if not link.current %}
              <a href="{{link.url}}">{% trans link.text %}</a><br>
            {% else %}
              <i>{{link.text}}</i><br>
            {% endif %}
          {% endfor %}
        </div>
        {% if not context.all_existing_links_shown %}
          <div class="panel-footer">
            <span>
              <a href="{{ context.list_link }}" target="popup" onclick="popupCenter('{{ context.list_link }}', '{{context.heading}}', 600, 600); return false;">
                {% if context.existing_links_index == -1 %}
                  {% trans "Show all" %} ({{ context.existing_links_len }})
                {% else %}
                  {% trans "Show all" %} ({{ context.existing_links_index|add:1 }}/{{ context.existing_links_len }})
                {% endif %}
              </a>
            </span>
          </div>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}

{% else %}
  <!-- consent locked -->
  <div width="100%" class="panel panel-default collapsible">
    <div class="panel-body">
      {% if current_form_name == "Consents" %}
        <i>{% trans "Consents" %}</i>
      {% else %}
        <a href="{{consents_link}}">{% trans 'Consents' %}</a>
      {% endif %}
    </div>
  </div>

{% endif %}

<!-- end demographics form launcher -->

