<!-- start demographics form launcher -->
{% load i18n %}
{% load translate %}
{% load lookup %}
<script>
    function popupCenter(url, title) {
        var popupWidth = window.outerWidth > 1600 ? window.outerWidth * 0.25 : 400;
        var popupHeight = window.outerHeight > 900 ? window.outerHeight * 0.5 : 450;

        var popupTop = window.screenTop + (window.outerHeight / 2) - (popupHeight / 2);
        var popupLeft = window.screenLeft + (window.outerWidth / 2) - (popupWidth / 2);

        var newWindow = window.open(url, title, 'scrollbars=yes, width=' + popupWidth + ', height=' + popupHeight + ', top=' + popupTop + ', left=' + popupLeft);
        if (window.focus) newWindow.focus();
    }
</script>

<style>
  .panel-body  {
    word-break:break-word
  }
  .panel-footer {
    text-align: right;
    font-weight: bold;
  }
  .selected-link {
    font-style: italic;
    color: #333;
    cursor: default;
  }
  .selected-link:hover {
    color: #333;
    text-decoration: none;
  }
</style>

<div width="100%" class="panel panel-default collapsible">
  <div class="panel-body">
     <a href="{{demographics_link}}" class="{% if current_form_name == "Demographics" %}selected-link{% endif %}">
       {{ form_titles.Demographics }}
     </a>
  </div>
</div>


{% if not consent_locked %}
<div width="100%" class="panel panel-default collapsible">
  <div class="panel-body">
     <a href="{{consents_link}}" class="{% if current_form_name == "Consents" %}selected-link{% endif %}">
       {{ form_titles.Consents }}
     </a>
  </div>
</div>


{% if clinician_form_link %}
<div width="100%" class="panel panel-default collapsible">
  <div class="panel-body">
     <a href="{{clinician_form_link}}" class="{% if current_form_name == "Clinician" %}selected-link{% endif %}">
       {{ form_titles.Clinician }}
     </a>
  </div>
</div>
{% endif %}

{% if proms_link %}
<div width="100%" class="panel panel-default collapsible">
  <div class="panel-body">
     <a href="{{proms_link}}" class="{% if current_form_name == "Proms" %}selected-link{% endif %}">
       {{ form_titles.Proms }}
     </a>
  </div>
</div>
{% endif %}


{% if family_linkage_link %}
<div width="100%" class="panel panel-default collapsible">
  <div class="panel-body">
      <a href="{{family_linkage_link}}" class="{% if current_form_name == "Family Linkage" %}selected-link{% endif %}">
          {{ form_titles|lookup:"Family linkage" }}
      </a>
  </div>
</div>
{% endif %}

{% for type, context in context_form_groups %}
    {% if type == 'fixed' %}
        <div class="panel panel-default collapsible">
            <div class="panel-heading">
                {{context.name|translate}}
            </div>
            <div class="panel-body">
                {% for form in context.forms %}
                    <p>
                        <a href="{{form.url}}" class="{% if form.current %}selected-link{% endif %}">{{form.text|translate}}</a>
                    </p>
            {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if type == 'multiple' %}
        <div width="100%" class="panel panel-default collapsible">
            <div class="panel-heading" data-toggle="collapse" data-target="#existing_{{multiple_context.id}}">
              {{context.heading}}
              {% if can_add_proms %}
              <a class="btn btn-info btn-xs pull-right"
                 onclick="location.href='{{context.add_link_url}}';">
                 <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans "Add" %}</a>
               {% endif %}
            </div>
            <div id="existing_{{context.id}}" class="panel-body">

              {% for link in context.existing_links %}
                 <a href="{{link.url}}" class="{% if link.current %}selected-link{% endif %}">{% trans link.text %}</a><br>
              {% endfor %}
            </div>
            {% if not context.all_existing_links_shown %}
                <div class="panel-footer">
                  <span>
                    <a href="{{ context.list_link }}" target="popup" onclick="popupCenter('{{ context.list_link }}', '{{context.heading}}'); return false;">
                      {% if context.existing_links_index == -1 %}
                          {% trans "Show all" %} ({{ context.existing_links_len }})
                      {% else %}
                          {% trans "Show all" %} ({{ context.existing_links_index|add:1 }}/{{ context.existing_links_len }})
                      {% endif %}
                    </a>
                  </span>
                </div>
            {% endif %}
         </div>
    {% endif %}
{% endfor %}

{% else %}
<!-- consent locked -->
<div width="100%" class="panel panel-default collapsible">
  <div class="panel-body">
     <a href="{{consents_link}}" class="{% if current_form_name == "Consents" %}selected-link{% endif %}">
       {% trans 'Consents' %}
     </a>
  </div>
</div>

{% endif %}

<!-- end demographics form launcher -->

