{% extends "admin/change_form.html" %}
{% block content_wrapper %}
{{ block.super }}
<script language="JavaScript">
    $(document).ready(function() {
        $('#id_registry').change(function() {
            var url_prefix = "/patientstages/";
            $.ajax({
                url: this.value ? url_prefix + this.value + "/" : url_prefix + "/admin",
                success: function(result){
                    $('#id_allowed_prev_stages').children().remove();
                    $('#id_allowed_next_stages').children().remove();
                    $.each(result.stages, function(idx, obj) {
                        $('#id_allowed_prev_stages').append($("<option></option>").attr("value",obj.id).text(obj.name));
                        $('#id_allowed_next_stages').append($("<option></option>").attr("value",obj.id).text(obj.name));
                    });
                }
            });
        });
    });
</script>
{% endblock %}
