{% extends 'dashboard/widget/_widget_base.html' %}

{% load i18n %}

{% block card_header %}
  {% if not widget %}
    {% trans "Demographics" %}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block card_body_text %}
  <ul class="list-unstyled">
    <li>{{ patient.display_name }}</li>
    <li>{{ patient.age }}yrs</li>
    {% if patient.home_address %}
    <li class="small">
      {{ patient.home_address.address }}<br />
      {{ patient.home_address.suburb }} {{ patient.home_address.state }} {{ patient.home_address.postcode }}<br />
      {{ patient.home_address.country }}
    </li>
    {% endif %}
  </ul>
{% endblock %}

{% block card_links %}
  <ul class="list-unstyled mb-0 d-print-none">
    <li><a href="{% url 'patient_edit' registry.code patient.id %}" class="card-link">{% trans "Update demographics" %}</a></li>
  </ul>
{% endblock %}