{% extends "explorer/base.html" %}
{% load i18n %}
{% block content %}

{#    TODO translation tags#}
<h1>Reports</h1>
    <p><a href="{% url 'rdrf:explorer_report_designer' %}">Create a new report.</a> </p>
    <ul>
    {% for report in reports %}
        <li>
            {{  report.title }} - Actions:
            <a href="{%  url 'rdrf:explorer_report_designer' report.id %}">Edit</a>,
            <a href="{%  url 'rdrf:explorer_report_delete' report.id %}">Delete</a>,
            <a href="{%  url 'rdrf:explorer_report_download' report.id %}">Download JSON</a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}