{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load lookup %}

{% block content %}
  <h1>Welcome, {{ parent.first_name }}</h1>

  {% if patients|length > 1 %}
    <ul class="nav nav-tabs d-print-none">
      {% for tab_patient in patients %}
        <li class="nav-item">
          <a href="{% url 'parent_dashboard' registry.code %}?patient_id={{ tab_patient.id }}"
             class="nav-link {% if tab_patient == patient %}active{% endif %}"
             aria-current="{% if tab_patient == patient %}true{% else %}false{% endif %}"
          >{{ tab_patient }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <div class="my-2 clearfix d-print-none">
			<button type="button" class="btn btn-outline-secondary float-md-end" onclick="window.print();">
				<span class="fa fa-print" aria-hidden="true"></span> {% trans "Print" %}
			</button>
  </div>

  <div class="row">
    <div class="col-md">
      {% with widget=dashboard.widgets|lookup:'demographics' %}
        {% include "dashboard/widget/demographics.html" with widget=widget registry=registry patient=patient only %}
      {% endwith %}

      {% with widget=dashboard.widgets|lookup:'clinical_data' %}
        {% if widget %}
          {% include "dashboard/widget/clinical_data.html" with widget=widget only %}
        {% endif %}
      {% endwith %}
    </div>

    <div class="col-md">
      {% with widget=dashboard.widgets|lookup:'consents' %}
        {% include "dashboard/widget/consents.html" with widget=widget consent_status=consent_status registry=registry patient=patient only %}
      {% endwith %}

      {% with widget=dashboard.widgets|lookup:'module_progress' %}
        {% include "dashboard/widget/module_progress.html" with widget=widget module_progress=module_progress only %}
      {% endwith %}

    </div>
  </div>

{% endblock %}