{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load lookup %}

{% block content %}
  <h1>Welcome, {{ parent.first_name }}</h1>

  {% if patients|length > 1 %}
    <ul class="nav nav-tabs d-print-none">
      {% for tab_patient in patients %}
        <li class="nav-item">
          <a href="{% url 'parent_dashboard' registry.code %}?patient_id={{ tab_patient.id }}"
             class="nav-link {% if tab_patient == patient %}active{% endif %}"
             aria-current="{% if tab_patient == patient %}true{% else %}false{% endif %}"
          >{{ tab_patient }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <div class="my-2 clearfix d-print-none">
			<button type="button" class="btn btn-outline-secondary float-md-end" onclick="window.print();">
				<span class="fa fa-print" aria-hidden="true"></span> {% trans "Print" %}
			</button>
  </div>

  <div class="row row-cols-1 row-cols-md-2">

    {% with demographics=dashboard.widgets|lookup:'demographics' %}
      {% include "dashboard/widget/demographics.html" with widget=demographics registry=registry patient=patient only %}
    {% endwith %}

    {% with clinical_data=dashboard.widgets|lookup:'clinical_data' %}
      {% if clinical_data %}
        {% include "dashboard/widget/clinical_data.html" with widget=clinical_data only %}
      {% endif %}
    {% endwith %}

    {% with consents=dashboard.widgets|lookup:'consents' %}
      {% include "dashboard/widget/consents.html" with widget=consents consent_status=consent_status registry=registry patient=patient only %}
    {% endwith %}

    {% with module_progress=dashboard.widgets|lookup:'module_progress' %}
      {% include "dashboard/widget/module_progress.html" with widget=module_progress only %}
    {% endwith %}

  </div>
{% endblock %}