{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
  <h1>{% trans "Welcome" %}, {{ parent.first_name }}</h1>

  {% if patients|length > 1 %}
    <ul class="nav nav-tabs d-print-none">
      {% for tab_patient in patients %}
        <li class="nav-item">
          <a href="{% url 'parent_dashboard' dashboard.registry.code %}?patient_id={{ tab_patient.id }}"
             class="nav-link {% if tab_patient == dashboard.patient %}active{% endif %}"
             aria-current="{% if tab_patient == dashboard.patient %}true{% else %}false{% endif %}"
          >{{ tab_patient }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <div class="my-2 clearfix d-print-none">
    <button type="button" class="btn btn-outline-secondary float-md-end" onclick="window.print();">
      <span class="fa fa-print" aria-hidden="true"></span> {% trans "Print" %}
    </button>
  </div>

  {% with registry=dashboard.registry patient=dashboard.patient %}

  <div class="row d-print-block">
    <div class="col-md">
      {% include "dashboard/widget/demographics.html" with widget=dashboard.widgets.demographics primary=True %}

      {% if dashboard.widgets.clinical_data %}
        {% include "dashboard/widget/clinical_data.html" with widget=dashboard.widgets.clinical_data %}
      {% endif %}
    </div>

    <div class="col-md">
      {% include "dashboard/widget/consents.html" with widget=dashboard.widgets.consents consent_status=dashboard.patient_status.consent %}

      {% if dashboard.patient_status.module_progress %}
        {% include "dashboard/widget/module_progress.html" with widget=dashboard.widgets.module_progress %}
      {% endif %}

    </div>
  </div>

  {% endwith %}

{% endblock %}