ccg-django-utils==0.4.2
Django==2.2.28
django-ajax-selects==2.1.0
django-anymail==8.5
django-countries==7.2.1
django-csp==3.7
django-extensions==3.1.5
django-messages-ui==2.0.2 # TODO remove
django-positions==0.6.0 # TODO possibly remove
django-registration-redux==2.10
djangorestframework==3.13.1
django-storages==1.12.3
django-stronghold==0.4.0
django-templatetag-handlebars==1.3.1 # TODO remove
django-templatetag-sugar==1.0 # TODO remove
django-useraudit==1.7.1
django-uwsgi==0.2.2
geoip2==3.0.0 # TODO remove
jsonschema==4.4.0
openpyxl==3.0.9
polib==1.1.0 # TODO remove
psycopg2-binary==2.8.4 # TODO remove
pycountry==22.1.10
pyodbc==4.0.28 # TODO remove
pyparsing==2.4.6 # TODO remove
python-dateutil==2.8.2
python-magic==0.4.24
python-memcached==1.59 # TODO remove
pyyaml==6.0
setuptools==59.6.0
setuptools_scm==3.3.3 # TODO remove
six==1.16.0
SQLAlchemy==1.3.24
uwsgi==2.0.20
django-formtools==2.3
django-otp==1.1.3
django-phonenumber-field==5.2.0
django-two-factor-auth==1.13.1
phonenumberslite==8.12.39
Pillow==9.1.0
qrcode==6.1
django-reversion==5.0.0
ua-parser==0.10.0
user-agents==2.2.0
django-user-agents==0.4.0
django-simple-history==3.0.0
lark==1.0.0
boto3==1.22.5
django-js-reverse==0.9.1
aws-xray-sdk==2.9.0
graphene-django==2.15.0
django-filter==21.1
flatten_json==0.1.13
gql-query-builder==0.1.7
