sure==1.4.11
django-nose==1.4.6
pytest==5.4.1
pytest-django==3.9.0
nose==1.3.7
nose-timer==0.7.5
aloe==0.1.19
aloe_webdriver==0.5.11
aloe_django==0.1.6
pyvirtualdisplay==0.2.5
selenium==3.141.0
unittest-xml-reporting==2.5.2
requests==2.25.1
sqlalchemy-utils==0.36.1
stellar==0.4.5
coverage==5.5
