.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    margin-left: 0;
}

table {
    table-layout: fixed;
}

.progress {
    margin-bottom: 0px;
}

.badge {
    border-radius: 0px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: 0;
}

.col-12.float-start {
    float: none !important;
}

@media print {

    .navbar, #sidebar, .panel-collapse-icon, .btn, .alert, .previous-form, .next-form, script {
        display: none !important;
    }

    .banner, .footer-wrap {
        position: static;
    }

    #content {
        padding-top: 0px !important;
    }

    .card-body.collapse {
        display: block !important;
    }

    .rdrf-cde-slider {
        margin-top: 25px;
    }

}