{% extends "rdrf_cdes/base.html" %}
{% load i18n admin_static %}
{% load version_number %}

{% block title %}{{ section.title }}{% endblock %}

{% block extrahead %}
    <script>
        $(document).ready(function () {
            $('.collapser').click(function () {
                $(this).next().collapse('toggle');
            });

            if ($('#section-expander input').is(":checked")) {
                $('form .collapse').collapse()
            }
        });
    </script>
{% endblock %}



{% block content %}
    <h1>{{ registry.name }}</h1>

    {% if existing_notifications %}
        <div class="panel panel-warning">
            <div class="panel-heading">
                {% trans "WARNING: This registry already has notifications configured" %}
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Description</th>
                        <th scope="col">Enabled</th>
                        <th scope="col">From</th>
                        <th scope="col">Recipient</th>
                        <th scope="col">Group Recipient</th>
                        <th scope="col">Templates</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for notification in existing_notifications %}
                        <tr>
                            <td>{{ notification.description }}</td>
                            <td>
                                {% if notification.disabled %}
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                {% endif %}
                            </td>
                            <td>{{ notification.email_from }}</td>
                            <td>{{ notification.recipient }}</td>
                            <td>{{ notification.group_recipient.name }}</td>
                            <td>
                                <ul>
                                    {% for email_template in notification.email_templates.all %}
                                        <li>
                                            <a href="#" data-toggle="collapse"
                                               class="collapser">{{ email_template.subject }}
                                                ({{ email_template.language }})
                                            </a>
                                            <pre class="collapse pre-scrollable"><code>{{ email_template.body }}</code></pre>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <p>{% trans "Edit existing notifications " %} <a
                        href="{% url "admin:rdrf_emailnotification_changelist" %}">{% trans "here" %}</a></p>
            </div>
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <div class="panel panel-default" id="main-fields">
            <div class="panel-heading">
                {% trans "Registration" %}
            </div>
            <div class="panel-body">
                <div class="fieldWrapper">
                    {{ form.enable_registration.errors }}
                    {{ form.enable_registration.label_tag }} {{ form.enable_registration }}
                </div>
                <div class="fieldWrapper" id="section-expander">
                    {{ form.new_notification.errors }}
                    {{ form.new_notification.label_tag }}
                    <label data-toggle="collapse" data-target="#template-fields,#notification-fields">
                        {{ form.new_notification }}
                    </label>
                </div>
            </div>
        </div>
        <div class="panel panel-info collapse" id="notification-fields">
            <div class="panel-heading">
                {% trans "New notification" %}
            </div>
            <div class="panel-body">
                <div class="fieldWrapper">
                    {{ form.from_address.errors }}
                    {{ form.from_address.label_tag }} {{ form.from_address }}
                </div>
                <br>
            </div>
        </div>
        <div class="panel panel-info collapse" id="template-fields">
            <div class="panel-heading">
                {% trans "New template" %}
            </div>
            <div class="panel-body">
                <div class="fieldWrapper">
                    {{ form.language.errors }}
                    {{ form.language.label_tag }} {{ form.language }}
                </div>
                <br>
                <div class="fieldWrapper">
                    {{ form.description.errors }}
                    {{ form.description.label_tag }} {{ form.description }}
                </div>
                <br>
                <div class="fieldWrapper">
                    {{ form.subject.errors }}
                    {{ form.subject.label_tag }} {{ form.subject }}
                </div>
                <br>
                <div class="fieldWrapper">
                    {{ form.body.errors }}
                    {{ form.body.label_tag }} {{ form.body }}
                </div>
            </div>
        </div>
        <input type="submit" value="{% trans "Submit" %}">
        <br>
        <br>
    </form>
{% endblock %}
