{% extends "explorer_v2/base.html" %}
{% load i18n %}
{% block content %}

{#    TODO translation tags#}
<h1>
    {% if form.instance.id %}
        Edit Report
    {% else %}
        New Report Query
    {% endif %}
</h1>

<div class="alert alert-light">
TODO instructions? Do we need extra helpful info here  etc.
</div>

<form name='query-form' id='query-form' class="form mt-3" method='post'>
{% csrf_token %}

    <fieldset>
        <legend>Description</legend>
        <div class="row">
            <label for="title" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input type="text" id="title" name="title" class="form-control" value="{{form.title.value|default_if_none:""}}">
            </div>
        </div>
        <div class="row">
            <label for="description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" cols="40" id="description" name="description" rows="3">{{form.description.value|default_if_none:""}}</textarea>
            </div>
            <div class="offset-sm-2 col-sm-10 form-text">A textual description of the purpose of this report that is displayed alongside the results.</div>
        </div>
        <div class="row">
            <label for="registry" class="col-sm-2 col-form-label">Registry</label>
            <div class="col-sm-10">
                {{ form.registry }}
            </div>
        </div>
        <div class="row">
            <label for="access_group" class="col-sm-2 col-form-label">Access Groups</label>
            <div class="col-sm-10">
                {{ form.access_groups }}
            </div>
            <div class="offset-sm-2 col-sm-10 form-text">The user groups that will have access to this report data.</div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Content</legend>
        <div class="row">
            <label for="demographic_fields" class="col-sm-2 col-form-label">Demographic Fields</label>
            <div class="col-sm-10 mt-2">
                {{ form.demographic_fields }}
            </div>
        </div>
        <div class="row">
            <label for="cde_fields" class="col-sm-2 col-form-label">Clinical Data Fields</label>
            <div class="col-sm-10 mt-2">
                {{ form.cde_fields }}
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Filters</legend>
        <div class="row">
            <label for="filter_working_groups" class="col-sm-2 col-form-label">Working Groups</label>
            <div class="col-sm-10 mt-2">
                {{ form.filter_working_groups }}
            </div>
        </div>
        <div class="row">
            <label for="filter_consents" class="col-sm-2 col-form-label">Consent Items:</label>
            <div class="col-sm-10 mt-2">
                <ul class="list-unstyled border p-2" style="max-height: 200px; overflow: auto">

                {% for choice in form.filter_consents.field.choices %}

                    {% if choice.0 %}
                    <li>
                        <label class="form-check-label">
                            <input type="checkbox" name="filter_consents" value="{{ choice.0 }}"
                                {% if choice.0 in form.filter_consents.initial %}
                                    checked="checked"
                                {% endif %}
                            >
                            {{ choice.1 }}
                        </label>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
            <div class="offset-sm-2 col-sm-10 form-text">Filter the report to only include patients that have consented to the selected consent items.</div>
        </div>
{#        <div class="row">#}
{#            <label for="filter_by" class="col-sm-2 col-form-label">Filter by:</label>#}
{#            <div class="col-sm-10">#}
{#                <ul class="list-group">#}
{#                    <li class="list-group-item">#}
{#                        <label class="form-check-label">#}
{#                            <input type="checkbox" name="filter_by_consent" value="True">#}
{#                            Consent answer to clinical trials equals#}
{#                        </label>#}
{#                        <label for="filter_by_consent_clinical_trials_value" class="visually-hidden">Filter consent value equals</label>#}
{#                        <select id="filter_by_consent_clinical_trials_value">#}
{#                            <option value="None">None</option>#}
{#                            <option value="True" selected>True</option>#}
{#                            <option value="False">False</option>#}
{#                        </select>#}
{#                    </li>#}
{#                </ul>#}
{##}
{#            </div>#}
{##}
{#        </div>#}
    </fieldset>

    <div class="col-12">
        <button class="btn btn-primary" type="submit">
            {% if form.instance.id %}
                Create Report
            {% else %}
                Save Report
            {% endif %}
        </button>
    </div>
</form>
        TODO - report type <br />
        TODO - multisection limit <br />
{% endblock %}